.footer {
  background: var(--text-black);
  color: var(--text-white);
  display: flex;
  padding: 6rem 3rem;

  &__img {
    width: fit-content;
    height: fit-content;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__right {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}